<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<% if @user.posts.any? %>
  <h2>Posts:</h2>
  <% @user.posts.each do |post| %>
    <div>
      <%= post.content %>
      <% if @user == current_user || current_user.vip? || current_user.admin? %>
        <%= link_to "Edit", post_path(post) %>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if @user == current_user %>
  <%= form_for :post, url: posts_path do |f| %>
    Content: <%= f.text_area :content %>
    <br />
    <%= f.submit %>
  <% end %>
<% end %>

<p><strong>Joined on:</strong>  <%= @joined_on %></p>
<p><strong>Last logged in on:</strong>  <%= @last_login %></p>
<p><strong>No. times logged in:</strong>  <%= @user.sign_in_count %></p>