<h1><%= @user.role.capitalize %></h1>
<p>Email: <%= @user.email %></p>

<% if @user.posts.any? %>
  <h1>Posts</h1>
  <% @user.posts.each do |post| %>
    <p>
      <%= post.content %>
      <% if post.user.id == current_user.id %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post_path(post), method: :delete %>
      <% end %>
    </p>
  <% end %>
<% end %>

<%= form_for(Post.new) do |f| %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
