<h1>User Profile: </h1>

<h2>Name: <%= @user.name %></h2>
<h2>email: <%= @user.email%></h2>

<h3>User role: <%= @user.role %></h3>

<h3><%= link_to "Write some new shit", new_user_post_path(@user) %></h3>

<h2>Here's yer old shit: </h2>
  <% @user.posts.each do |p| %>
    <ul>
      <li><p><%= p.created_at.strftime("On %A %B %C you said:")%></p></li>
      <p><%= p.content %> </p>
    </ul>
<% end %> 

<% if can? :edit, User %>
  <%= link_to "Edit user", edit_user_path(@user) %>
<% end %>
