<h1>Edit Post</h1>

<%= form_for @post do |f| %>
  <%= f.label :content %><br>
  <%= f.text_area :content %><br>
  <%= f.submit %>
<% end %>

<%= link_to("Delete Post", post_path, method: :delete) %>
