<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Devise Roles" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise Roles" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= link_to "Home", "/" %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </header>

    <main role="main">
      <%= content_tag(:div, flash[:error], :id => "flash-error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash-notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash-alert") if flash[:alert] %>
      <%= yield %>
    </main>
  </body>
</html>
